__pycache__/min_heap.cpython-311.pyc
__pycache__/binary_search.cpython-311.pyc
__pycache__/min_heap.cpython-311.pyc
__pycache__/min_heap.cpython-311.pyc
__pycache__/min_heap.cpython-311.pyc
application/__pycache__/min_heap.cpython-311.pyc
application/__pycache__/binary_search.cpython-311.pyc
.venv/
input/*
!input/.gitkeep
output/
errors/
CSVs/
!input/example.xlsx
!output/converted_example.csv